a-tabset {
	--bg1-color: rgb(250,250,250);
  --bg2-color: rgb(240,240,240);
  --bg3-color: white;
  --text-color: rgb(40,40,40);
  --border-color: silver;
  --marker-color: white;
  --scrollbar-thumb-color: dodgerblue;
  --scrollbar-track-color: transparent;
  --marker-style: solid;
  --marker-thickness: 2px;
  --scrollbar-width: 2px;
  --pad: .5rem;
  --gap: 1rem;

  height: 400px;
}

@media (prefers-color-scheme: dark) {
  a-tabset {
    --bg1-color: rgb(35,35,35);
    --bg2-color: rgb(40,40,40);
    --bg3-color: rgb(60,60,60);
    --border-color: dimgray;
    --text-color: rgb(240,240,240);
    --marker-color: rgb(60,60,60);
  }
}
